<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$BLOG_CHARSET" />

<title>$BLOG_TITLE: $NB_ArchiveTitle Archives</title>

<link rel="stylesheet" href="${BASE_URL}$BLOG_CSS" type="text/css" />
<link rel="shortcut icon" href="${BASE_URL}images/favicon.ico" />
$([ ! -z "$NB_RSS2CatAltLink" ] && echo "$NB_RSS2CatAltLink")
$([ ! -z "$NB_RSSCatAltLink" ] && echo "$NB_RSSCatAltLink")

</head>

<body>

<div id="banner">
<h1><a href="${BASE_URL}$MAIN_LINK" accesskey="1">$BLOG_TITLE</a></h1>
<span class="description">$BLOG_DESCRIPTION</span>
</div>

<div id="container">

<div class="blog">

<div class="menu">
	<a href="${BASE_URL}$MAIN_LINK">Main</a>
</div>

</div>

<div class="blog">
$NB_Entries
</div>

<div class="menu">
	$NB_PageLinks
</div>

</div>

</body>
</html>

