<div class="item">
<a id="$NB_EntryID" name="$NB_EntryID"></a>
<h2 class="date">$NB_EntryDate</h2>
<div class="blogbody">
<h3 class="title">$NB_EntryTitle</h3><br />
<div class="item-description">
$NB_EntryBody
</div>
</div>

<div class="posted">
<br />Posted by <span class="item-creator">$NB_EntryAuthor</span>
`[ "$PERMALINKS" = "1" ] && echo '| <a class="link" href="'$NB_EntryPermalink'">Permalink</a>'`
`[ ! -z "$NB_EntryCategories" ] && echo "| Categories: $NB_EntryCategories" |sed -e '{$ s/\,$//; }'`
<!-- <br /><a href="$BLOG_URL_ACTION$PERMALINKS_DIR/$permalink_entry#comments">Comments</a> -->
</div>
</div>
